.cta {
    padding-top: 70px;
    padding-bottom: 70px;
}

.cta_block {
    background-color: #58BEBF;
    border: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 95px;
}


.cta__image {
    margin-top: 60px;
    padding-top: 25px;
    padding-right: 25px;
    background-color: white;
    border-radius: 0 20px 0 0 ;
}
.cta__text {
}

.cta_tittle {
margin-bottom: 15px;
}

.cta_tittle.tittle{
    color: #fff;
}
.cta__buttons-row {
}
.button {
}
.button--white {
}