.objects {
    padding-top: 45px;
    padding-bottom: 80px;
}

.objects__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.objects__img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.objects__text {
    max-width: 540px;
    padding-left: 180px;

p + p {
    margin-top: 20px;
}
}
.objects__button{
    margin-top: 40px;
}